name: GPRbuild Linux
on:
  #schedule:
  #  - cron:  '0 0 * * *'
  #push:
  pull_request:

jobs:
  update:
    name: GPRbuild Linux
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install e3-core

    - name: Install Ada dependencies
      run: sudo apt-get install gprbuild gnat

    - name: Build gprbuild
      run: ./anod build gprbuild -v --loglevel DEBUG

    - name: Package gprbuild
      run: ./anod build release_package --qualifier=package=gprbuild,do_gh_release -v --loglevel DEBUG
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for GitHub CLI tool

    - uses: actions/upload-artifact@v2
      with:
        name: release-packages
        path: sbx/*/release_package*/install/* 
