name: Windows
on:
  #schedule:
  #  - cron:  '0 0 * * *'
  #push:
  pull_request:

jobs:
  gnat_gprbuild:
    name: GNAT Windows and gprbuild
    runs-on: windows-latest
    env:
      CONFIG_SHELL: /bin/bash
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

    - name: Install msys2
      uses: msys2/setup-msys2@v2
      with:
        install: >-
          base-devel
          git
          mingw-w64-x86_64-github-cli
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-python-psutil
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install e3-core

    - name: Prepare msys2 build setup
      # We need a path that is compatible between Windows and Unix world
      run: df -h; mkdir /c/aaa; mount C:/aaa /aaa ; cd ..; cp -r GNAT-FSF-builds /aaa

    - name: Build GNAT native
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gcc -v --loglevel DEBUG --enable-cleanup

    - name: Build GDB
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gdb -v --loglevel DEBUG --enable-cleanup

    - name: Package GNAT
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build release_package --qualifier=package=gnat,do_gh_release -v --loglevel DEBUG
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for GitHub CLI tool

    - name: Build GPRbuild
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gprbuild -v --loglevel DEBUG --enable-cleanup

    - name: Package GPRbuild
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build release_package --qualifier=package=gprbuild,do_gh_release -v --loglevel DEBUG
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for GitHub CLI tool

    - uses: actions/upload-artifact@v2
      with:
        name: anod-artifacts
        path: C:/aaa/GNAT-FSF-builds/out_artifacts/*
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: release-packages
        path: C:/aaa/GNAT-FSF-builds/sbx/*/release_package*/install/*
        retention-days: 5



  gnatcov:
    name: GNATcov
    needs: gnat_gprbuild
    runs-on: windows-latest
    env:
      CONFIG_SHELL: /bin/bash
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

    - name: Install msys2
      uses: msys2/setup-msys2@v2
      with:
        install: >-
          base-devel
          git
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-github-cli
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-python-psutil
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install e3-core

    - name: Prepare msys2 build setup
      # We need a path that is compatible between Windows and Unix world
      run: df -h; mkdir /c/aaa; mount C:/aaa /aaa ; cd ..; cp -r GNAT-FSF-builds /c/aaa

    - uses: actions/download-artifact@v2
      with:
        name: anod-artifacts
        path: C:/aaa/GNAT-FSF-builds/in_artifacts/


    - name: Build GNATcov
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gnatcov -v --loglevel DEBUG --enable-cleanup

    - name: Package GNATcov
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build release_package --qualifier=package=gnatcov,do_gh_release -v --loglevel DEBUG
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for GitHub CLI tool

    - uses: actions/upload-artifact@v2
      with:
        name: release-packages
        path: C:/aaa/GNAT-FSF-builds/sbx/*/release_package*/install/*
        retention-days: 5



  gnat_arm_elf:
    name: GNAT arm-elf-windows
    needs: gnat_gprbuild
    runs-on: windows-latest
    env:
      CONFIG_SHELL: /bin/bash
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

    - name: Install msys2
      uses: msys2/setup-msys2@v2
      with:
        install: >-
          base-devel
          git
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-github-cli
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-python-psutil
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install e3-core
    - name: Prepare msys2 build setup
      # We need a path that is compatible between Windows and Unix world
      run: df -h; mkdir /c/aaa; mount C:/aaa /aaa ; cd ..; cp -r GNAT-FSF-builds /aaa

    - uses: actions/download-artifact@v2
      with:
        name: anod-artifacts
        path: C:/aaa/GNAT-FSF-builds/in_artifacts/


    - name: Build GNAT arm-elf
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gcc -v --loglevel DEBUG --target=arm-elf --enable-cleanup

    - name: Build GDB arm-elf
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gdb -v --loglevel DEBUG --target=arm-elf --enable-cleanup

    - name: Package GNAT arm-elf
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build release_package --qualifier=package=gnat,do_gh_release --target=arm-elf -v --loglevel DEBUG
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for GitHub CLI tool

    - uses: actions/upload-artifact@v2
      with:
        name: release-packages
        path: C:/aaa/GNAT-FSF-builds/sbx/*/release_package*/install/*
        retention-days: 5



  gnat_riscv64_elf:
    name: GNAT riscv64-elf-windows
    needs: gnat_gprbuild
    runs-on: windows-latest
    env:
      CONFIG_SHELL: /bin/bash
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

    - name: Install msys2
      uses: msys2/setup-msys2@v2
      with:
        install: >-
          base-devel
          git
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-github-cli
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-python-psutil
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install e3-core
    - name: Prepare msys2 build setup
      # We need a path that is compatible between Windows and Unix world
      run: df -h; mkdir /c/aaa; mount C:/aaa /aaa ; cd ..; cp -r GNAT-FSF-builds /aaa

    - uses: actions/download-artifact@v2
      with:
        name: anod-artifacts
        path: C:/aaa/GNAT-FSF-builds/in_artifacts/


    - name: Build GNAT riscv64-elf
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gcc -v --loglevel DEBUG --target=riscv64-elf --enable-cleanup

    - name: Build GDB riscv64-elf
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build gdb -v --loglevel DEBUG --target=riscv64-elf --enable-cleanup

    - name: Package GNAT riscv64-elf
      run: mount C:/aaa /aaa && cd /aaa/GNAT-FSF-builds && python3 ./anod build release_package --qualifier=package=gnat,do_gh_release --target=riscv64-elf -v --loglevel DEBUG
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for GitHub CLI tool

    - uses: actions/upload-artifact@v2
      with:
        name: release-packages
        path: C:/aaa/GNAT-FSF-builds/sbx/*/release_package*/install/*
        retention-days: 5

  why3:
    strategy:
      fail-fast: false
      matrix:
        ocaml-version:
          - 4.12.0
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          repository: 'kanigsson/why3'
          ref: 'workflow2'

      - name: Use Setup OCaml v1 ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: opam install depext
        run: opam depext camlzip zarith re seq why3

      - run: opam install camlzip dune dune-configurator menhir num ocamlgraph re seq yojson zarith

      - run: opam exec -- bash configure --prefix=/tmp/why3install --enable-relocation --disable-emacs-compilation --disable-hypothesis-selection --disable-js-of-ocaml
      - run: opam exec -- make
      - run: opam exec -- make install_spark2014

      - name: Upload the build artifact
        uses: actions/upload-artifact@v2
        with:
          name: why3_x86_64-windows
          path: /tmp/why3install


  sanity_checking:
    name: Sanity Checking
    needs: [gnat_gprbuild, gnatcov]
    runs-on: windows-latest
    env:
      CONFIG_SHELL: /bin/bash
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

    - name: Install msys2
      uses: msys2/setup-msys2@v2
      with:
        install: >-
          base-devel
          git
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-github-cli
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-python-psutil

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install e3-testsuite

    - uses: actions/download-artifact@v2
      with:
        name: release-packages
        path: ./sanity-checking/release_packages

    - name: Run testsuite
      run: |
          cd ./sanity-checking
          python3 ./run.py -v --install-deps-from=release_packages --pkgs-install-dir=pkgs_install --failure-exit-code 1

    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: testsuite-results-${{runner.os}}
        path: sanity-checking/out/new
        retention-days: 5
